{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% trans "Sign Out" %}


{% block content %}
<div id="signout">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">

                <p>{% trans 'Are you sure you want to sign out?' %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">

                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button id="sign-button" class="btn btn-signup right" type="submit">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}