{% extends 'base.html' %} {% block content %}
{% load static %}



<h1 class="post-title">{{ new.title }}</h1>
<div class="container">


    <div class="row tournament">
        <div class="signup">{{ new.content }}</div>
        <div class="col">
            <div class="signup">

                <!-- Tournament Details -->
                <p class="post_subtitle">Published on {{ new.created_on }}</p>
                <p class="post-subtitle">Author: {{ new.creator }}</p>
            </div>
        </div>
        <div class="col">
            {% if request.user == new.creator %}
            <p>
                <a id="sign-button"
                    class="btn btn-signup right nav-link {% if request.path == logout_url %}active{% endif %}"
                    aria-current="page" href="{% url 'edit_new' pk=new.pk %}"> Edit </a>
            </p>
            <br>
            <p>
                <a id="del-button"
                    class="btn btn-signup right nav-link {% if request.path == logout_url %}active{% endif %}"
                    aria-current="page" href="{% url 'delete_new' pk=new.pk %}"> Delete </a>
            </p>
            {% endif %}
        </div>

        <div class="col">
            <div class="signup">
                <img id="img-borderless" class="img-new-det" src="{{ new.img_url }}" alt="image_new_detail">
            </div>
        </div>
    </div>

</div>


{% endblock content %}