{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
    img {
        width: 300px;
        /* Set width to 200 pixels */
        height: auto;
        /* Maintain aspect ratio */
    }
</style>

<h1 class="post-title">{{ new.title }}</h1>
<div class="container">


    <div class="row tournament">
        <div id="signup">{{ new.content }}</div>
        <div class="col">
            <div id="signup">

                <!-- Tournament Details -->
                <p class="post_subtitle">Published on {{ new.created_on }}</p>
                <p class="post-subtitle">Author: {{ new.creator }}</p>
            </div>
        </div>
        <div class="col">
            {% if request.user == new.creator %}
            <p>
                <a id="sign-button"
                    class="btn btn-signup right nav-link {% if request.path == logout_url %}active{% endif %}"
                    aria-current="page" href="{% url 'edit_new' pk=new.pk %}"> Edit </a>
            </p>
            <br>
            <p>
                <a id="del-button"
                    class="btn btn-signup right nav-link {% if request.path == logout_url %}active{% endif %}"
                    aria-current="page" href="{% url 'delete_new' pk=new.pk %}"> Delete </a>
            </p>
            {% endif %}
        </div>

        <div class="col">
            <div id="signup">
                <img id="img-borderless" src="{{ new.img_url }}">
            </div>
        </div>
    </div>

</div>


{% endblock content %}