{% extends 'base.html' %}
{% block content %}

<h1>Tournaments List</h1>


<div class="container">
    {% for tournament in object_list %}
    <div class="container tournament tourn-list">
        <div class="row">
            <div class="col">
                <a href="{% url 'tournament_detail' tournament.pk %}" class="post-link">
                    <h2>{{tournament.name}}</h2>
                </a>
                <p>Date: {{tournament.start_date}} - {{tournament.end_date}}</p>
                <p>Location: {{tournament.location}} </p>
                <p>Number of Participants: {{tournament.max_participants}} </p>
                <p>Prize: £{{tournament.prize_money}} </p>

                {% if request.user == tournament.creator %}
                <p class="tourn-own">Owner</p>
                {% else %}
                Creator: <span class="tourn-cre">{{tournament.creator}}</span>

                {% endif %}
            </div>
            <div class="col">
                <img class="img-borderless" src="{{ tournament.img_url }}" alt="tournament-image">
                <p> Category: {{ tournament.get_category_display }} </p>

            </div>
        </div>

    </div>
    {% endfor %}

</div>

{% endblock content %}