{% extends 'base.html' %} {% block content %}
{% load static %}

<style>
    img {
        width: 200px;
        /* Set width to 200 pixels */
        height: auto;
        /* Maintain aspect ratio */
    }
</style>

<h1 class="post-title">{{ tournament.name }}</h1>
<div class="container">

    <div class="row tournament">
        <!-- Tournament Title -->
        <div class="col">

            <div id="signup">
                <!-- Tournament Details -->
                <p class="post_subtitle"> Start Date: {{ tournament.start_date }}</p>
                <p class="post_subtitle">End Date: {{ tournament.end_date }}</p>
                <p class="post-subtitle">Sponsored by: {{ tournament.sponsor }}</p>
                <p class="post-subtitle">Location: {{ tournament.location }}</p>
                <p class="post-subtitle">Surface: {{ tournament.surface }}</p>
                <p class="post-subtitle">Entry Fee: £{{ tournament.entry_fee }}</p>
                <p class="post-subtitle">Prize Money: £{{ tournament.prize_money }}</p>
                <p class="post-subtitle">Sponsor: {{ tournament.sponsor }}</p>
                <p class="post-subtitle">Max. players: {{ tournament.max_ }}</p>
                <p class="post-subtitle">Category: {{ tournament.get_category_display }}</p>


            </div>
        </div>
        <div class="col">
            {% if request.user == tournament.creator %}
            <p>
                <a id="sign-button"
                    class="btn btn-signup right nav-link {% if request.path == logout_url %}active{% endif %}"
                    aria-current="page" href="{% url 'edit_tournament' pk=tournament.pk %}"> Edit </a>
            </p>
            <br>
            <p>
                <a id="del-button"
                    class="btn btn-signup right nav-link {% if request.path == logout_url %}active{% endif %}"
                    aria-current="page" href="{% url 'delete_tournament' pk=tournament.pk %}"> Delete </a>
            </p>
        </div>
        {% endif %}
        <div class="col">
            <div id="signup">
                <img id="img-borderless" src="{{ tournament.img_url }}">
            </div>
            <div id="signup">
                {{ tournament.description }}
            </div>
        </div>
    </div>
</div>

</div>

{% endblock content %}