{% extends 'base.html' %} {% block content %}
<h1>User Profile</h1>

<div class="container">
    <div class="row tournament">
        <div class="signup">
            <p>Name: <span class="profile-pag">{{ profile.first_name }} {{ profile.last_name }} </span></p>

            <p>Category: <span class="profile-pag">{{profile.get_category_display}} </span></p>

            <p> <span class="profile-pag">{{ profile.description }}</span></p>
            <br>
            <p> Created on: <span class="profile-pag">{{profile.created_on}} </span> </p>
            <p> Last update: <span class="profile-pag">{{profile.updated_on}} </span> </p>
            {% endblock content %}

        </div>
    </div>

</div>